<mat-card class="search-content">
  <mat-card-header class="search-content-header">
    <mat-card-title>Wallet Search</mat-card-title>
  </mat-card-header>
  <mat-card-content class="search-content-container">
    <mat-form-field appearance="fill" class="search-content-input">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="url" placeholder="Address">
    </mat-form-field>
  
    <button mat-fab extended class="search-content-button" (click)="doSearch()">
      <mat-icon>search</mat-icon>
      Search
    </button>    
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>{{url()}}</mat-card-title>
  </mat-card-header>
</mat-card>