<div class="page-container">
  
  <mat-toolbar class="header" color="primary">
    
    <span>My Angular App</span>
    <button mat-icon-button (click)="isSidenavOpen = !isSidenavOpen">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span style="flex: 1 1 auto;"></span>
    <mat-select [(ngModel)]="selectedNetwork" style="width: 150px; margin-right: 10px;">
      <mat-option *ngFor="let network of networks" [value]="network">{{ network }}</mat-option>
    </mat-select>
    <mat-select [(ngModel)]="selectedLanguage" style="width: 150px;">
      <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
    </mat-select>
  </mat-toolbar>

  <mat-card class="content-container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav [(opened)]="isSidenavOpen" mode="side">
        <mat-card class="sidenav">
          <p>Sidenav Content</p>
        </mat-card>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <mat-card class="content">
          <p>Main Content</p>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-card>


  <mat-toolbar class="footer" color="primary">
    <span>My Angular Footer</span>
  </mat-toolbar>

</div>